:root {
  --main-text-color: #2e2520;
  --button-bg-color: #ab816c;
  --program-description-color: #000;
  --prodram-icon-color: #674d40;
  --placeholder-text-color: rgba(171, 129, 108, 0.5);
  --accent-color: #be5f2f;
  --btn-text-color: #fff;
}
