<section id="contacts">
    <div class="container contact__container">
        <h2 class="section-title contact-title">Contact</h2>
        <p class="contact-title">We will answer any question!</p>
        <form class="contact__form">
            <label class="contact__label">
                <input class="registration__input" type="email" name="user-mail" placeholder="Email">
            </label>
            <label>
                <input class="registration__input" type="text" name="user-question" placeholder="Type your question">
            </label>
            <label class="contact__btn">
                <button class="button" type="submit">Send</button>
            </label>
        </form>
    </div>
</section>