<header class="header">
    <div class="container header__container">
        <div class="header__navigation">
            <a class="link header__logo" href="../src/index.html">
                <svg class="header__logo-icon">
                    <use href="../src/images/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="list header__navigation-list">
                <li class="header__navigation-item"><a class="link header__navigation-link" href="#about-us">About us</a></li>
                <li class="header__navigation-item"><a class="link header__navigation-link" href="#program">Program</a></li>
                <li class="header__navigation-item"><a class="link header__navigation-link" href="#reviews">Reviews</a></li>
                <li class="header__navigation-item"><a class="link header__navigation-link" href="#contacts">Contacts</a></li>
            </ul>
            </div>
        <button type="button" class="header__menu-btn" data-menu-button data-menu-btn>
            <svg class="header__menu-btn-icon">
                <use class="header__icon-menu" href="../src/images/sprite.svg#icon-menu"></use>
                <use class="header__icon-close" href="../src/images/sprite.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</header>