<div class="menu__navigation" data-menu data-hidden-menu>
    <div class="menu__logo-thumb">
        <a class="link menu__logo" href="../src/index.html">
            <svg class="menu__logo-icon">
                <use href="../src/images/sprite.svg#icon-logo"></use>
            </svg>
        </a>
    </div>
    <div class="menu__link-thumb">
        <ul class="list menu__navigation-list">
            <li class="menu__navigation-item"><a class="link menu__navigation-link" href="#about-us">About us</a></li>
            <li class="menu__navigation-item"><a class="link menu__navigation-link" href="#program">Program</a></li>
            <li class="menu__navigation-item"><a class="link menu__navigation-link" href="#reviews">Reviews</a></li>
            <li class="menu__navigation-item"><a class="link menu__navigation-link" href="#contacts">Contacts</a></li>
        </ul>
    </div>
</div>