<section class="program section" id="program">
    <div class="container">
        <h2 class="section-title program__title">Program</h2>

        <div class="program__container">
            <div class="program__description">
                <p class="program__text">
                    Indulge in this immersive sweet treat experience with The Chef Donut Queen
                    in her New York donut shop!
                </p>
                <ul class="program__list list">
                    <li class="program__item">> A stand up history of donuts</li>
                    <li class="program__item">> Make 3 donut flavors of your choice</li>
                    <li class="program__item">> Enjoy all-you-can-eat donuts</li>
                    <li class="program__item">> Cocktail pairings and coffee included</li>
                    <li class="program__item">> Photoshoot by professional photographer</li>
                    <li class="program__item">> Secret receipt of cooking from Eva</li>
                    <li class="program__item">> All products are included in the price</li>
                </ul>
                <p class="program__text contentp hidden">
                    Come with your dear people and friends
                    and you will spend an unforgettable time and
                    will become a real professional
                    in donuts cooking!
                </p>
                <button class="about-us__button btnp">Read more</button>
            </div>
            
            
            <div class="events">
                <ul class="list events__list">
                    <li class="events__item">
                        <picture class="events__picture">
                            <source
                                srcset="../src/images/program-donuts/desktop/desktop-donut_1.png 1x, ../src/images/program-donuts/desktop/desktop-donut_1-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source
                                srcset="../src/images/program-donuts/mob-tab/donut_1.png 1x, ../src/images/program-donuts/mob-tab/donut_1-2x.png 2x"
                                media="(max-width: 1279.98px)" />
                            <img src="../src/images/program-donuts/desktop/desktop-donut_1.png" alt="donut" width="97">
                        </picture>
                        <div class="program__bg">
                            <h3 class="events__title">Type of the event</h3>
                            <p class="events__text">Cooking classes</p>
                            <div class="events__icon">
                                <svg width="25" height="23">
                                    <use href="../src/images/sprite.svg#icon-chef-hat"></use>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <li class="events__item">
                        <picture class="events__picture">
                            <source
                                srcset="../src/images/program-donuts/desktop/desktop-donut_2.png 1x, ../src/images/program-donuts/desktop/desktop-donut_2-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source
                                srcset="../src/images/program-donuts/mob-tab/donut_2.png 1x, ../src/images/program-donuts/mob-tab/donut_2-2x.png 2x"
                                media="(max-width: 1279.98px)" />
                            <img src="../src/images/program-donuts/desktop/desktop-donut_2.png" alt="donut" width="97">
                        </picture>
                        <div class="program__bg">
                            <h3 class="events__title">Number of guests</h3>
                            <p class="events__text">1 to 20</p>
                            <div class="events__icon">
                                <svg width="26" height="24">
                                    <use href="../src/images/sprite.svg#icon-people"></use>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <li class="events__item">
                        <picture class="events__picture">
                            <source
                                srcset="../src/images/program-donuts/desktop/desktop-donut_3.png 1x, ../src/images/program-donuts/desktop/desktop-donut_3-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source
                                srcset="../src/images/program-donuts/mob-tab/donut_3.png 1x, ../src/images/program-donuts/mob-tab/donut_3-2x.png 2x"
                                media="(max-width: 1279.98px)" />
                            <img src="../src/images/program-donuts/desktop/desktop-donut_3.png" alt="donut" width="97">
                        </picture>
                        <div class="program__bg">
                            <h3 class="events__title">Time of the event</h3>
                            <p class="events__text">18:30 (2.5 hours)</p>
                            <div class="events__icon">
                                <svg width="25" height="25">
                                    <use href="../src/images/sprite.svg#icon-clock"></use>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <li class="events__item">
                        <picture class="events__picture">
                            <source
                                srcset="../src/images/program-donuts/desktop/desktop-donut_4.png 1x, ../src/images/program-donuts/desktop/desktop-donut_4-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source
                                srcset="../src/images/program-donuts/mob-tab/donut_4.png 1x, ../src/images/program-donuts/mob-tab/donut_4-2x.png 2x"
                                media="(max-width: 1279.98px)" />
                            <img src="../src/images/program-donuts/desktop/desktop-donut_4.png" alt="donut" width="97">
                        </picture>
                        <div class="program__bg">
                            <h3 class="events__title">The host speaks</h3>
                            <p class="events__text">English, French</p>
                            <div class="events__icon">
                                <svg width="32" height="22">
                                    <use href="../src/images/sprite.svg#icon-chat"></use>
                                </svg>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>