<section class="registration">
    <div class="container">
        <div class="registration__container">
            <h2 class="section-title">Registration</h2>
            <div class="registration__data-info">
                <time datetime="2021-05-23T11:00">May 23, 11:00</time>
                <address class="registration__address">New York</address>
                <p>$ 699</p>
            </div>
            <div class="registration--thumb">
                <div class="registration--line"></div>
                <p>Apply your personal info
                for registration</p>
            </div>
            <form class="registration__form">
                <ul class="list">
                    <li class="registration__form-item">
                        <label class="registration__label">
                            <input class="registration__input" type="text" name="user_name" placeholder="Your name">
                        </label>
                    </li>
                    <li class="registration__form-item">
                        <label class="registration__label">
                            <input class="registration__input" type="tel" name="user_tel" maxlength="13" placeholder="Phone number">
                        </label>
                    </li>
                    <li class="registration__form-item">
                        <label class="registration__label">
                            <input class="registration__input" type="email" name="user_mail" placeholder="Email">
                        </label>
                    </li>
                </ul>
                <label class="registration__label-btn">
                    <button class="registration__form-btn" type="submit">Register</button>
                </label>
            </form>
        </div>
    </div>
</section>