<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="section-title reviews__title">Reviews</h2>
        <ul class="reviews__box">
            <li class="reviews__card reviews__card-mobile">
                <picture class="">
                    <source 
                        srcset="../src/images/reviews/desktop/desktop-photo1.png 1x, ../src/images/reviews/desktop/desktop-photo1-2x.png 2x" 
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="../src/images/reviews/tablet/tablet-photo1.png 1x, ../src/images/reviews/tablet/tablet-photo1-2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <img src="../src/images/reviews/desktop/desktop-photo1.png" alt="John" width="142">
                </picture>    
                <div class="reviews__card-box">
                    <picture>
                        <source 
                            srcset="../src/images/stars/stars1.png 1x, ../src/images/stars/stars1-2x.png 2x" 
                            media="(max-width: 1279.98px)" />
                        <img class="stars" src="../src/images/stars/stars1.png" alt="stars" width="136">
                    </picture>
                    <p class="rewiews__subtitle">John</p>
                </div>
            </li>
            <li class="reviews__card">
                <picture class="">
                    <source 
                        srcset="../src/images/reviews/desktop/desktop-photo2.png 1x, ../src/images/reviews/desktop/desktop-photo2-2x.png 2x" 
                        media="(min-width: 1280px)"
                    />
                    <source 
                        srcset="../src/images/reviews/tablet/tablet-photo2.png 1x, ../src/images/reviews/tablet/tablet-photo2-2x.png 2x" 
                        media="(min-width: 768px)"
                    />
                    <source 
                        srcset="../src/images/reviews/mobile/mobile-photo.png 1x, ../src/images/reviews/mobile/mobile-photo-2x.png 2x" 
                        media="(max-width: 767.98px)"
                    />
                    <img class="rewiews__img" src="../src/images/reviews/desktop/desktop-photo2.png" alt="Will" >
                </picture>    
                <div class="reviews__card-box">
                    <picture>
                        <source 
                            srcset="../src/images/stars/stars2.png 1x, ../src/images/stars/stars2-2x.png 2x" 
                            media="(max-width: 1279.98px)" />
                        <img class="stars" src="../src/images/stars/stars2.png" alt="stars" width="136">
                    </picture>
                    <p class="rewiews__subtitle">Will</p>
                </div>
            </li>
            <li class="reviews__card reviews__card-mobile">
                <picture class="">
                    <source
                        srcset="../src/images/reviews/desktop/desktop-photo3.png 1x, ../src/images/reviews/desktop/desktop-photo3-2x.png 2x"
                        media="(min-width: 1280px)"
                    />
                    <source 
                        srcset="../src/images/reviews/tablet/tablet-photo3.png 1x, ../src/images/reviews/tablet/tablet-photo3-2x.png 2x"
                        media="(min-width: 768px)"
                    />
                    <img src="../src/images/reviews/desktop/desktop-photo3.png" alt="Elisabeth" width="136">
                </picture>    
                <div class="reviews__card-box">
                    <picture>
                        <source 
                            srcset="../src/images/stars/stars2.png 1x, ../src/images/stars/stars2-2x.png 2x" 
                            media="(max-width: 1279.98px)"
                        />
                        <img class="stars" src="../src/images/stars/stars2.png" alt="stars" width="136">
                    </picture>
                    <p class="rewiews__subtitle">Elisabeth</p>
                </div>
            </li>
        </ul>
        <div class="reviews__board" >
            <article>
                <h3 class="visually-hidden">Review about Donut Masterclass</h3>
                <p class="reviews__text">
                    Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article> 
        </div>
        <ul class="reviews__border">
            <li>
                <div class="border"></div>
            </li>
            <li>
                <p class="reviews__text-border">2/15</p>
            </li>
            <li>
                <div class="border"></div>
            </li>
        </ul>
    </div>

</section>