.header__bg {
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    background-image: url('../images/heder-donuts/mobile/mobile-donuts.png'),
      url('../images/bg/mobile/mobile-bg-up.png');
    background-repeat: no-repeat;
    background-size: 129px 129px, 100% 461px;
    background-position: top 0 left 0, top center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/heder-donuts/mobile/mobile-donuts-2x.png'),
        url('../images/bg/mobile/mobile-bg-up.png');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/heder-donuts/tablet/tablet-donuts.png'),
      url('../images/bg/tablet/tablet-bg-up.png');
    background-repeat: no-repeat;
    background-position: top 0 left 60%, 50% 0;
    background-size: 380px 361px, 100% 622px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/heder-donuts/tablet/tablet-donuts-2x.png'),
        url('../images/bg/tablet/tablet-bg-up.png');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/spoon/spoon.png'),
      url('../images/heder-donuts/desktop/desktop-donuts.png'),
      url('../images/bg/desktop/desktop-bg-up.png');
    background-repeat: no-repeat;
    background-size: 142px 450px, 719px 660px, 100% 1036px;
    background-position: left 0 top 166px, top 0 right 0, 50% 0;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/spoon/spoon-2x.png'),
        url('../images/heder-donuts/desktop/desktop-donuts-2x.png'),
        url('../images/bg/desktop/desktop-bg-up.png');
    }
  }
}

.footer__bg {
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    background-image: url('../images/plate/mobile/mobile-plate.png'),
      url('../images/bg/mobile/mobile-bg-down.png');
    background-repeat: no-repeat;
    background-size: 87px 64px, 100% 1300px;
    background-position: right bottom, top;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/plate/mobile/mobile-plate-2x.png'),
        url('../images/bg/mobile/mobile-bg-down.png');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/plate/tablet/tablet-plate.png'),
      url('../images/bg/tablet/tablet-bg-down.png');
    background-repeat: no-repeat;
    background-size: 147px 144px, 100% 1260px;
    background-position: right bottom, 50% 0;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/plate/tablet/tablet-plate-2x.png'),
        url('../images/bg/tablet/tablet-bg-down.png');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/plate/desktop/desktop-plate.png'),
      url('../images/bg/desktop/desktop-bg-down.png');
    background-repeat: no-repeat;
    background-size: 319px 184px, 100% 1497px;
    background-position: right bottom, 50% 0;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/plate/desktop/desktop-plate-2x.png'),
        url('../images/bg/desktop/desktop-bg-down.png');
    }
  }
}

.confeti__bg {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    background-image: url('../images/registration-donut/img.png'),
      url('../images/confetti/tablet/tablet-confetti.png');
    background-repeat: no-repeat;
    background-size: 235px 255px, 280px 374px;
    background-position: left 1px bottom 500px, right 1px bottom 315px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/registration-donut/img-2x.png'),
        url('../images/confetti/tablet/tablet-confetti-2x.png');
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    background-image: url('../images/registration-donut/img.png'),
      url('../images/confetti/desktop/desktop-confetti.png');
    background-repeat: no-repeat;
    background-size: 235px 255px, 606px 589px;
    background-position: left 100px bottom 550px, right 1px bottom 222px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/registration-donut/img-2x.png'),
        url('../images/confetti/desktop/desktop-confetti-2x.png');
    }
  }
}
