// mobile menu button
.header__menu-btn {
  position: absolute;
  z-index: 100;
  top: 17px;
  right: 12px;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: 767px) {
    top: 26px;
    right: 67px;
  }

  &:hover .header__menu-btn-icon,
  &:focus .header__menu-btn-icon {
    fill: var(--accent-color);
  }
}
.header__menu-btn-icon {
  width: 30px;
  height: 16px;
  fill: var(--main-text-color);
}
.header__icon-close {
  display: none;
}
.is-open {
  .header__icon-close {
    display: block;
  }
  .header__icon-menu {
    display: none;
  }
}
