#more {
  @media screen and (max-width: 1279.99px) {
    display: none;
  }
}

.container-about {
  @media screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 67px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 71px;
    // padding-right: 150px;
  }
}

.about-us {
  @media screen and (max-width: 767.99px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about-us__item {
  flex-basis: calc(100% / 2 - 25px);
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}

.about-us__title {
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.7;
}

.about-us__text--more {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}

.about-us__button {
  display: block;
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.61;
  text-align: center;
  color: var(--button-bg-color);
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
