.contact__container {
  padding: 0px 30px 0px 30px;
}
.contact-title {
  text-align: center;
  margin: 0;

  & + p {
    margin-bottom: 25px;
  }
}

.section-title.contact-title {
  @media screen and (max-width: 767.98px) {
    margin-top: 27px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 51px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 77px;
  }
}
