.header__container {
  display: flex;
  justify-content: center;
  padding-top: 9px;

  @media screen and (min-width: 1280px) {
    justify-content: start;
    padding-top: 31px;
  }
  @media screen and (min-width: 768px) {
    justify-content: start;
    padding-top: 27px;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__logo:hover .header__logo-icon,
.header__logo:focus .header__logo-icon {
  fill: var(--accent-color);
}
.header__navigation-list {
  display: flex;
  margin-left: 38px;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.header__navigation-item:not(:last-child) {
  margin-right: 20px;
}
.header__navigation-link {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__logo-icon {
  width: 96px;
  height: 43px;
  fill: var(--main-text-color);

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 71px;
  }
}
