li {
  list-style-type: none;
}

.reviews__title {
  @media screen and (max-width: 767.98px) {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  margin-bottom: 5px;
}

.reviews__box {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.reviews__card:not(:last-child) {
  @media screen and (max-width: 767.98px) {
    margin: 0px;
  }
  margin-right: 54px;
}

.reviews__card-mobile {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.reviews__card-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rewiews__subtitle {
  font-style: italic;
}

.rewiews__img {
  margin: auto;
}

.stars {
  display: inline;
  margin-top: 6px;
}

.reviews__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.reviews__board {
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 626px;
  margin: auto;
}

.score {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ab816c;
  margin-bottom: 68px;
  margin-top: 35px;
}

.border {
  width: 35px;
  height: 0px;
  border: 1px solid #ab816c;
  background-color: #ab816c;
  margin-left: 10px;
  margin-right: 10px;
}

.reviews__text-border {
  font-size: 16px;
  line-height: 20px;
  color: #ab816c;
  margin: 0px;
}

.reviews__border {
  display: flex;
  justify-content: center;
  margin: 0px;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 68px;
  padding: 0px;
}

.reviews__picture--center {
  margin-left: auto;
  margin-right: auto;
}
